@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	ViewData["Title"] = "Index";
	
}
<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
	<div class="s-full js-hide-cart"></div>

	<div class="header-cart flex-col-l p-l-65 p-r-25">
		<div class="header-cart-title flex-w flex-sb-m p-b-8">
			<span class="mtext-103 cl2">
				Your Cart
			</span>

			<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
				<i class="zmdi zmdi-close"></i>
			</div>
		</div>

		<div class="header-cart-content flex-w js-pscroll">
			<ul class="header-cart-wrapitem w-full">
				<li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="~/images/item-cart-01.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							White Shirt Pleat
						</a>

						<span class="header-cart-item-info">
							1 x $19.00
						</span>
					</div>
				</li>

				<li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="~/images/item-cart-02.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							Converse All Star
						</a>

						<span class="header-cart-item-info">
							1 x $39.00
						</span>
					</div>
				</li>

				<li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="~/images/item-cart-03.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							Nixon Porter Leather
						</a>

						<span class="header-cart-item-info">
							1 x $17.00
						</span>
					</div>
				</li>
			</ul>

			<div class="w-full">
				<div class="header-cart-total w-full p-tb-40">
					Total: $75.00
				</div>

				<div class="header-cart-buttons flex-w w-full">
					<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
						View Cart
					</a>

					<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
						Check Out
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Tin tức
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
	<div class="container-fuid">
		
			
				<div class="p-r-45 p-r-0-lg" style="margin:50px">
			<!-- item blog -->
			<div class="p-b-63">
				<a href="/Blog/BlogDetail2" class="hov-img0 how-pos5-parent">
					<img src="~/images/tintuc2.jpg" alt="IMG-BLOG">

					<div class="flex-col-c-m size-123 bg9 how-pos5">
						<span class="ltext-107 cl2 txt-center">
							22
						</span>

						<span class="stext-109 cl3 txt-center">
							April 2024
						</span>
					</div>
				</a>

				<div class="p-t-32">
					<h4 class="p-b-15">
						<a href="/Blog/BlogDetail2" class="ltext-108 cl2 hov-cl1 trans-04">
							TOP 15 Sản Phẩm Dưỡng Trắng Da Mặt Cho Nam Hiệu Quả Nhất
						</a>
					</h4>

					<p class="stext-117 cl6">
						Bên cạnh công dụng làm trắng da, các dòng kem dưỡng chuyên sâu da mặt cho nam còn có công dụng kiềm dầu, trị mụn,...

						<div class="flex-w flex-sb-m p-t-18">


							<a href="/Blog/BlogDetail2" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
								-->>>

								<i class="fa fa-long-arrow-right m-l-9"></i>
							</a>
						</div>
				</div>
			</div>
					<!-- item blog -->
					<div class="p-b-63">
				<a href="/Blog/BlogDetail1" class="hov-img0 how-pos5-parent">
							<img src="~/images/tintuc1.png" alt="IMG-BLOG">

							<div class="flex-col-c-m size-123 bg9 how-pos5">
								<span class="ltext-107 cl2 txt-center">
									22
								</span>

								<span class="stext-109 cl3 txt-center">
							April 2024
								</span>
							</div>
						</a>

						<div class="p-t-32">
							<h4 class="p-b-15">
								<a  href="/Blog/BlogDetail1" class="ltext-108 cl2 hov-cl1 trans-04">
							Top 7 mỹ phẩm dưỡng trắng da hiệu quả Hàn Quốc giúp da nâu mấy cũng bật tone rạng rỡ
								</a>
							</h4>

							<p class="stext-117 cl6">
						Tuần lễ Thời trang New York đã diễn ra với 8 mốt thời trang 2024 được hé lộ. Từ màu sắc tươi sáng cho đến sự cổ điển của chất vải denim, trend Metallic lấp lánh ánh kim cho đến chi tiết xuyên thấu táo bạo. Tất cả đều hiện diện và được các nhà thiết kế kết hợp để tạo nên trang phục đón đầu xu hướng.

						<div class="flex-w flex-sb-m p-t-18">


							<a href="/Blog/BlogDetail1" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
									-->>>

									<i class="fa fa-long-arrow-right m-l-9"></i>
								</a>
							</div>
						</div>
					</div>
			
			<!-- item blog -->
			<div class="p-b-63">
				<a href="/Blog/BlogDetail1\3" class="hov-img0 how-pos5-parent">
					<img src="~/images/tintuc3.jpg" alt="IMG-BLOG">

					<div class="flex-col-c-m size-123 bg9 how-pos5">
						<span class="ltext-107 cl2 txt-center">
							22
						</span>

						<span class="stext-109 cl3 txt-center">
							April 2024
						</span>
					</div>
				</a>

				<div class="p-t-32">
					<h4 class="p-b-15">
						<a href="/Blog/BlogDetail1\3" class="ltext-108 cl2 hov-cl1 trans-04">
							Bật mí top 4 cách chọn mỹ phẩm dưỡng trắng da ban Đêm hiệu quả nhất
						</a>
					</h4>

					<p class="stext-117 cl6">
						Dưỡng da ban đêm là một trong những quy trình chăm sóc da mặt quan trọng đem lại cho bạn làn da trắng sáng, mềm mịn, khỏe đẹp mỗi ngày. Tuy nhiên nhiều chị em vẫn luôn băn khoăn không biết chọn mỹ phẩm dưỡng trắng da ban đêm như thế nào để có được sản phẩm phù hợp, giúp chăm sóc làn da hiệu quả nhất.

						<div class="flex-w flex-sb-m p-t-18">


							<a href="/Blog/BlogDetail1\3" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
								-->>>

								<i class="fa fa-long-arrow-right m-l-9"></i>
							</a>
						</div>
				</div>
			</div>
			</div>		
			</div>
</section>
